html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;


}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*
    Global
*/
body {
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
}



.video1 h3 {
    font-size: 80px;
    text-align: center;


}

}

button {
    cursor: pointer;
    font-family: 'Roboto Mono', monospace;
    line-height: 2;
    box-sizing: border-box;
    margin: 1rem 0 0;
    border: 2px solid deeppink;
    padding: 0.75rem;
    font-weight: 500;
    font-size: 0.8rem;
    color: white;
    background: deeppink;
    text-transform: lowercase;
    transition: all 0.125s linear;
}

button:hover {
    background: #444;
    border-color: #444;
}

button:focus {
    outline: 0;
}

img {
    width: 100%;
    height: 500px;
}

/*
    Section
*/
section {
    max-width: 1200px;
    margin: 4rem auto;
    width: 90%;
    display: block;
    overflow: auto;
}

/*
    Sidebar
*/
aside {
    width: 30%;
    float: left;
    display: block;

}

aside h4 {
    text-transform: lowercase;
    letter-spacing: 1px;
    font-family: 'Titillium Web', sans-serif;

}

aside p {
    margin-bottom: 1rem;
    max-width: 100%;
    font-family: 'Titillium Web', sans-serif;

}

aside input[type="submit"] {
    max-width: 100%;
    float: none;
}

/*
    Article
*/
article {
    width: 70%;
    float: left;
    display: block;
    letter-spacing: 20px;
    font-family: 'Titillium Web', sans-serif;


}

article p {
    font-size: 30px;
    max-width: 90%;
    position: relative;
    padding-bottom: 1.5rem;
    margin-bottom: 3rem;
    letter-spacing: 1px;
    height: 20px;
    width: 700px;
    font-family: 'Titillium Web', sans-serif;

}

article h3 {
    max-width: 90%;
    position: relative;
    padding-bottom: 1.5rem;
    margin-bottom: 3rem;
    font-family: 'Titillium Web', sans-serif;

}

article h3:after {
    content: '';
    background: black;
    width: 3rem;
    height: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    font-family: 'Titillium Web', sans-serif;

}

aside.img {
    height: 200px;
    width: 100px;
    filter: grayscale(100%)


}


section.nasal {
    padding-left:0px;
}


.nasal img {

    height: 300px;
    width: 380px;
}

.nasal p {
    float: left;
    width: 700px;
    padding-right: 50px;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    margin-top: 40px;




}

.nasal h4 {

    font-size: 30px;
}



section.viedo { 

    background: red;
 }



section.

/*
    Inputs
*/
input[type="text"],
input[type="email"],
input[type="submit"] {
    font-family: 'Roboto Mono', monospace;
    line-height: 2;
    width: 100%;
    box-sizing: border-box;
    margin: 1rem 0 0;
    border: 2px solid #ccc;
    padding: 0.75rem;
    font-weight: 500;
    font-size: 0.8rem;
    color: #444;
    transition: all 0.125s linear;
}

input[type="submit"] {
    border-color: deeppink;
    background-color: deeppink;
    cursor: pointer;
    color: white;
    text-transform: lowercase;
    max-width: 32%;
    float: right;
}

input[type="submit"]:hover {
    border-color: #444;
    background-color: #444;
}

input:focus {
    outline: 0;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="text"]:focus,
input[type="email"]:focus {
    color: #444;
    border-color: #444;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #444;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #444;
}
:-moz-placeholder { /* Firefox 18- */
    color: #ccc;
}

/*
    Typography
*/
h1 {
    font-weight: 400;
    font-size: 10vh;
    line-height: 4vh;
    letter-spacing: 3px;
    color: ivory;
    font-family: 'Titillium Web', sans-serif;

}

h2 {
    font-size: 36px;
    width: 100%;
    text-align: center;
    margin: 0 0 10px;
    font-family: 'Titillium Web', sans-serif;

}

h3 {
    font-family: 'Arvo', serif;
    font-size: 4.8rem;
    line-height: 5.2rem;
    margin: 0 0 2rem;
    font-weight: 500;
    font-family: 'Titillium Web', sans-serif;

}

h4 {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.4rem;
    margin: 0 0 1.25rem;
    font-family: 'Titillium Web', sans-serif;

}

h5 {
    margin: 0 0 10px;
    font-family: 'Titillium Web', sans-serif;

}

h6 {
    margin: 0 0 10px;
    font-family: 'Titillium Web', sans-serif;

}

a {
    font-weight: 500;
    text-decoration: underline;
    color: black;
    font-family: 'Titillium Web', sans-serif;

}

a:hover {
    color: deeppink;
}

p {
    margin: 0 0 2rem;
    font-size: 0.8rem;
    line-height: 1.6rem;
    font-weight: 300;
    max-width: 95%;
    font-family: 'Titillium Web', sans-serif;

}


p:last-child {
    margin-bottom: 0;
}

blockquote {
    margin: 0 0 10px;
    float: right;
    width: 60%;
    padding: 0 0 0 1rem;
    margin: 0 0 1rem 1rem;
    font-family: 'Titillium Web', sans-serif;

}

blockquote p {
    font-family: 'Arvo', serif;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-family: 'Titillium Web', sans-serif;

}

blockquote p:before {
    content: '"';
}

blockquote p:after {
    content: '"';
}

blockquote cite {
    float: right;
    font-size: 0.7rem;
    font-weight: 400;
    font-style: italic;
    color: deeppink;
}

blockquote cite:before {
    content: '–';
    margin-right: 5px;
}

/*
    Header
*/
header {
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background: rgb(255,0,132) url('../img/image.png');
    background: -moz-radial-gradient(center, ellipse cover, rgba(255,0,132,1) 0%, rgba(255,0,132,1) 100%) url('../img/image.png');
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255,0,132,1) 0%,rgba(255,0,132,1) 100%) url('../img/image.png');
    background: radial-gradient(ellipse at center, rgba(255,0,132,1) 0%,rgba(255,0,132,1) 100%) url('../img/image.png');
    background-blend-mode: multiply;
}

header h1 {
    font-family: 'Titillium Web', sans-serif;


}

header h1 span:before {
    content: '<';
    margin-right: 3px;
    font-family: 'Titillium Web', sans-serif;

}

header h1 span:after {
    content: '/>';
    font-family: 'Titillium Web', sans-serif;

}

/*
    Navigation
*/
nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    transition: all 0.5s linear;
}

nav.active {
    background: rgb(255,0,132) url('../img/image.png');
    background: -moz-radial-gradient(center, ellipse cover, rgba(255,0,132,1) 0%, rgba(255,0,132,1) 100%) url('../img/image.png');
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255,0,132,1) 0%,rgba(255,0,132,1) 100%) url('../img/image.png');
    background: radial-gradient(ellipse at center, rgba(255,0,132,1) 0%,rgba(255,0,132,1) 100%) url('../img/image.png');
    background-blend-mode: multiply;
    height: 100vh;
}

nav.active .menu-button {
    color: ivory !important;
}

nav .menu-button {
    position: absolute;
    top: 0;
    right: 5%;
    appearance: none;
    background: transparent;
    border: none;
    color: ivory;
    font-size: 2.2rem;
    line-height: 0;
    vertical-align: top;
    width: 24px;
    height: 24px;
    display: block;
}

nav ul {
    display: none;
    list-style: none;
    text-align: center;
}

nav li {
    display: inline-block;
    letter-spacing: 2px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

nav li a {
    text-decoration: none;
    border-bottom: 2px solid transparent;
    display: inline-block;
    color: ivory;
    font-weight: 400;
    font-size: 3vh;
    line-height: 4vh;
    letter-spacing: 4px;
    text-transform: lowercase;
}

nav li a:hover {
    color: ivory;
    border-bottom: 2px solid ivory;
}

/*
    Video
*/

header .video {
    width: 0
} 


section.video1 {
    max-width: 100%;
    width: 100%;
    position: relative;
}

section.video1 video {
    width: 100%;
}

section.video1 h3 {
    font-family: 'Roboto Mono', monospace;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    font-weight: 400;
    font-size: 25vh;
    line-height: 0;
    letter-spacing: 2px;
    color: ivory;
}
section.video1 h2 {
    font-family: 'Roboto Mono', monospace;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 65%;
    font-weight: 400;
    font-size: 5vh;
    line-height: 0;
    letter-spacing: 2px;
    color: ivory;
   
}

section.video h3:before {
    content: '<';
    margin-right: 3px;
}

section.video h3:after {
    content: '/>';
}

section.video button {
    position: absolute;
    bottom: 25%;
    left: 50%;
    margin-left: -56px;
    font-family: 'Roboto Mono', monospace;
    z-index: 9998;
}

/*
    Grid
*/
section.grid {
    display: flex;
    text-align: center;
    justify-content: space-between;
}

section.grid div.grid-item {
    width: 32%;
    height: auto;
    display: block;
}

section.grid div.grid-item img {
    width: 100%;
    margin-bottom: 0.5rem;
}

/*
    Gallery
*/
section.maca {
    display: inline-block;
    width: 380px;
    height: 500px;
    margin:20px; 
    text-align: center;
    font-family: 'Titillium Web', sans-serif;

    }


section.ging {
    display: inline-block;
    width: 380px;
    height: 500px;
    margin: 20px;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;


  }

  section.cola {

    display: inline-block;
    width: 380px;
    height: 500px;
    margin: 10px;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;


  }

section.maca h3{
    font-color: 10px;
    font-family: 'Titillium Web', sans-serif;

}



.maca p{
   
    margin: 20px;
    font-family: 'Titillium Web', sans-seri


 }
 .ging img {
    height: 250px;
    width: 300px;
    font-family: 'Titillium Web', sans-serif;


 }

.maca img {
    height: 250px;
    width: 300px;
    font-family: 'Titillium Web', sans-serif;

 }

.cola img {
    height: 250px;
    width: 300px;

 }


 .ging p {
        margin: 20px;
        font-family: 'Titillium Web', sans-serif;



 }
.cola p {
    margin: 20px;
    font-family: 'Titillium Web', sans-serif;


 }











.benefits h1 {


display: inline-block;

font-size: 50px;
font-family: 'Titillium Web', sans-serif;
margin:30px;
    color:red;

}


section.end {

    border: 0;
    max-width: 100%;



}

section.end video {
    max-width: 100%;



}



/*
    Footer
*/
footer {
    float: left;
    clear: both;
    width: 100%;
    padding-bottom: 2rem;
    background-color: #666;
    color: white;
}

footer .inner {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

footer .inner h5 {
    margin: 3rem 0 0;
    font-size: 0.8rem;
    line-height: 1.6rem;
    font-weight: 400;
}

footer .inner ul {
    margin: 0 0 3rem;
    font-size: 0.8rem;
    line-height: 1.6rem;
    font-weight: 300;
    padding-left: 1rem;
    list-style: disc;
}

footer .inner p {
    font-weight: 400;
    color: white;
}

/*
    Scroll to Top
*/
button.scroll-to-top {
    display: none;
    width: 60px;
    height: 60px;
    background: deeppink;
    border-color: deeppink;
    border-radius: 50%;
    position: fixed;
    bottom: 40px;
    right: 2.5%;
    transform: rotate(-90deg);
}
button.scroll-to-top:hover {
    background: #444;
    border-color: #444;
}

/*
    Mobile
*/
@media only screen and (max-width: 768px) {
    aside,
    section.grid,
    section.video button {
        display: none;
    }
    h1 {
        font-size: 1rem;
        line-height: 1.4rem;
    }
    h3 {
        font-size: 3rem;
        line-height: 3.4rem;
        margin-top: 2rem;
    }
    nav li a {
        border-bottom: 2px solid ivory;
    }
    article {
        width: 100%;
        clear: both;
    }
    input[type="submit"] {
        max-width: 100% !important;
    }
    section {
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    blockquote {
        width: 100%;
        text-align: right;
    }
    section.video h3 {
        top: 35%;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    p:first-letter,
    div:first-letter,
    blockquote:first-letter,
    li:first-letter,
    p:first-line,
    div:first-line,
    blockquote:first-line,
    li:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
